.products__items-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.products__list-main {
    display: flex;
    flex-direction: column;
}


.products__list-main p {
    font-size: var(--font-title);
    color: var(--color-text-primary);
}

.products__list-main span {
    color: var(--color-text-gray);
}

.products__list-main img {
    height: 250px;
    width: 200px
}

button.active {
    background-color: tomato;
    color: white;
}